body {
  margin: 0;
  padding: 0;
}

#app {
  canvas {
    border: 1px dashed gray;
  }
}

#myVideo {
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
}

.trigger-choice {
  position: absolute;
  visibility: hidden;
  width: 400px;
  height: 200px;
  border: 2px solid #f6b93b;
  border-radius: 5px;
  background: #2f3542;
  padding: 10px 15px;
  left: 40%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: #fff;
}
